<div class="polity-center">
	<h1
			[attr.data-cy]="'first-name'"
			[class.tui-skeleton]="isProfileLoading()"
			class="tui-text_h1"
	>
		{{profile()?.first_name}} {{profile()?.last_name}}
	</h1>

	<polity-key-figure
			[isLoading]="isProfileStatisticsLoading"
			[keyFigureList]="keyFigure">
	</polity-key-figure>

	<div
			class="tui-space_bottom-4"
	>
		<polity-profile-follow
				(toggledFollowing)="toggleFollow($event)"
				[isFollowing]="keyFigure()?.is_following"
				[isLoading]="this.isFollowingCheckLoading"
				[isOwner]="isOwner()"
		></polity-profile-follow>

	</div>


	<img
			[attr.data-cy]="'profileImage'"
			[class.tui-skeleton]="isProfileLoading()"
			alt="Italian Trulli"
			class="tui-"
			src="{{profile()?.profile_image}}"
			width="60%"
	>
</div>
