<div *ngIf="notificationsSignal()[0]?.id">
    <div *ngFor="let notification of notifications">
        <p>{{notification.id}} {{notification.read_by_receiver}}</p>
    </div>
</div>

<button (click)="toggleBoolean()">Toggle</button>
<p *ngIf="loading()">show if loading = false</p>
<table
    [class.tui-skeleton]="loading()"
    [columns]="columns"
    class="tui-table"
    tuiTable

>
    <tbody

        *tuiLet="notifications | tuiTableSort as sortedNotifications"
        [data]="sortedNotifications"
        tuiTbody

    >
    <tr class="tui-table__tr tui-table__tr_border_none"
        tuiThGroup>
        <th
            *tuiHead="'profile_image'"
            class="tui-table__th"
            tuiTh
        >
            Vorname
        </th>
        <th
            *tuiHead="'name'"
            class="tui-table__th"
            tuiTh
        >
            Vorname
        </th>
        <th
            *tuiHead="'time'"
            class="tui-table__th"
            tuiTh
        >
            Time
        </th>
    </tr>
    <tr
        *ngFor="let notification of sortedNotifications; let index = index"
        class="tui-table__tr tui-table__tr_border_none"
        tuiTr
    >
        <td
            *tuiCell="'profile_image'"
            [attr.data-cy]="'notification-profile-image'"
            class="tui-table__td"
            tuiTd

        >
            {{ notification.id }}
        </td>
        <td
            *tuiCell="'name'"
            [attr.data-cy]="'notification-name'"
            class="tui-table__td"
            tuiTd
        >
            {{ notification.id }} {{notification.sender  }}
        </td>
        <td
            *tuiCell="'time'"
            [attr.data-cy]="'notification-time'"
            class="tui-table__td"
            tuiTd
        >
            {{notification.sender  }}
        </td>
    </tr>
    </tbody>
</table>
