<form [formGroup]="filterForm">
	<tui-input
			[tuiGenericFilter]="filter"
			formControlName="notifications"
	>
		Minimal balance
	</tui-input>
</form>
<table
		[class.tui-skeleton]="isNotificationsLoading()"
		[columns]="columns"
		class="tui-table"
		tuiTable

>
	<tbody

			*tuiLet="notificationsStatic() | tuiTableSort as sortedNotifications"
			[data]="sortedNotifications"
			tuiTbody

	>
	<tr class="tui-table__tr tui-table__tr_border_none"
	    tuiThGroup>

		<th
				*tuiHead="'name'"
				class="tui-table__th"
				tuiTh
		>
			Name
		</th>
		<th
				*tuiHead="'profile_image'"
				class="tui-table__th"
				tuiTh
		>

		</th>
		<th
				*tuiHead="'type'"
				class="tui-table__th"
				tuiTh
		>
			Typ
		</th>
		<th
				*tuiHead="'time'"
				class="tui-table__th"
				tuiTh
		>
			Zeit
		</th>
	</tr>
	<tr
			*ngFor="let notification of sortedNotifications; let index = index"
			class="tui-table__tr tui-table__tr_border_none"
			tuiTr
	>

		<td
				*tuiCell="'name'"
				[attr.data-cy]="'notification-name'"
				class="tui-table__td"
				tuiTd
		>
			{{ notification.first_name }} {{notification.last_name  }}
		</td>
		<td
				*tuiCell="'profile_image'"
				[attr.data-cy]="'notification-profile-image'"
				class="tui-table__td"
				tuiTd
		>
			<tui-avatar
					avatarUrl="{{notification.profile_image}}"
					size="s"
					text="{{notification.first_name}} {{notification.last_name}}"
			></tui-avatar>
		</td>
		<td
				*tuiCell="'type'"
				[attr.data-cy]="'notification-name'"
				class="tui-table__td"
				tuiTd
		>
			<tui-tag *ngIf="notification.type_of_notification === 'follow_from_user'"
			         [class.follow_from_user]="notification.type_of_notification === 'follow_from_user'"
			         [value]="notification.type_of_notification"
			         status="custom"
			></tui-tag>
		</td>
		<td
				*tuiCell="'time'"
				[attr.data-cy]="'notification-time'"
				class="tui-table__td"
				tuiTd
		>
			{{notification.created_at | date:'short' }}
		</td>
	</tr>
	</tbody>
</table>
