<form [formGroup]="form" class="tui-space_top-3">
	<div class="polity-flex-container">
		<div class="polity-flex-item-full-width polity-flex-item-first">
			<tui-input-date
					[attr.data-cy]="'filterDateToInput'"
					formControlName="from">
				Choose a date
				<input tuiTextfield/>
			</tui-input-date>
		</div>
		<div class="polity-flex-item-full-width polity-flex-item-last">
			<tui-input-date
					[attr.data-cy]="'filterDateFromInput'"
					formControlName="to">
				Choose a date
				<input tuiTextfield/>
			</tui-input-date>
		</div>
	</div>
</form>
