<div class="stepper-top-container">

    <tui-stepper
        (activeItemIndexChange)="onActiveItemChange($event)"
        [activeIndex]="activeIndex"
        [activeItemIndex]="activeIndex"
        [activeItem]="activeItem"
        [menuItems]="steps"
        orientation="horizontal"
        polityAutoscroll>
        @for (step of steps;track step) {
            <button
                [pageScrollDuration]="500"
                pageScroll href="#{{step.title}}"
                [stepState]="step.icon"
                tuiStep
            >
                {{ step.title }}
            </button>
        }
    </tui-stepper>

</div>
