<form [formGroup]="toggleAssistantForm">
    <div class="tui-form__row flex-box">
        <p
            [attr.data-cy]="'toggle-assistant-headline'"
            [class.tui-skeleton]="assistantStore.loadingState().loading"
            class="tui-text_body-m"
        >Zeige Tutorials</p>

        <tui-toggle
            (click)="toggleAssistant()"
            [attr.data-cy]="'toggle-assistant'"
            [class.tui-skeleton]="assistantStore.loadingState().loading"
            [showIcons]="true"
            formControlName="showAssistant"
        ></tui-toggle>
    </div>

</form>

