<h1 class="tui-text_h1">
	Neuer Account
</h1>
<p
		[attr.data-cy]="'signup-instruction'"
		class="tui-text_body-l">
	Erstelle einen neuen Account.
</p>
<form
		(ngSubmit)="onSignUp()"
		[formGroup]="signUpForm"
>
	<div class="tui-form__row">
		<tui-input
				[attr.data-cy]="'email'"
				[tuiTextfieldCleaner]="true"
				[tuiTextfieldCustomContent]="signUpForm.controls.email.valid ? success : ''"
				formControlName="email"
				tuiHintContent="It will be used for sending documents"
		>
			Type an email
		</tui-input>
		<ng-template #success>
			<tui-svg
					class="polity-success tui-space_left-3"
					src="tuiIconCheck"
			></tui-svg>
		</ng-template>
		<tui-error
				[error]="[] | tuiFieldError | async"
				formControlName="email"
		>
		</tui-error>
	</div>
	<div class="tui-form__row">
		<tui-input-password
				[attr.data-cy]="'password'"
				[tuiTextfieldCleaner]="true"
				[tuiTextfieldCustomContent]="signUpForm.controls.password.valid ? success : ''"
				formControlName="password"
		>
			Gebe ein Password ein.
		</tui-input-password>
		<ng-template #success>
			<tui-svg
					class="polity-success tui-space_left-3"
					src="tuiIconCheck"
			></tui-svg>
		</ng-template>
		<tui-error
				[error]="[] | tuiFieldError | async"
				formControlName="password"
		>
		</tui-error>
	</div>
	<div class="tui-form__buttons">
		<button
				[attr.data-cy]="'signup'"
				[disabled]="!signUpForm.valid"
				class="tui-form__button"
				size="l"
				tuiButton
				type="submit"
		>
			ERSTELLEN
		</button>
	</div>
</form>
