@import '@taiga-ui/styles/taiga-ui-global.less';

.polity-container {
  padding: 10%;

  @media @tui-mobile {
    margin-top: 30px;
  }

  @media @tui-desktop-min {
    padding-left: calc(80px + 12%);
    padding-right: calc(80px + 12%);
  }
}
