<div class="polity-container">
    <div
        (touchstart.passive.stop)="(0)"
        class="wrapper"
        tuiCarouselButtons
    >
        <tui-carousel [(index)]="index">
            <div
                *tuiItem
                class="search-content"
            >
                <h3 class="tui-text_h3">Hey, Willkommen bei Polity!</h3>
                <div class="center-grid">
                    <img
                        alt="test"
                        class="grid-item"
                        src="assets/assistants/aria.svg"
                    >
                    <img
                        alt="test"
                        class="grid-item"
                        src="assets/assistants/kai.svg"
                    >
                </div>
                <div>
                    <P class="tui-text_body-m">Wir sind Vidhi und Tobi - deine persönlichen Assistenten.</P>

                    <p class="tui-text_body-m">Wer bist du?</p>
                </div>

                <polity-assistant-welcome-dialog-form
                    (step1CloseTutorialEmitter)="step1CloseTutorial($event)"
                    (step1NavigateToProfileStepEmitter)="step1NavigateToProfileStep($event)"
                ></polity-assistant-welcome-dialog-form>
            </div>

            <div *tuiItem>
                <h3
                    [attr.data-cy]="'welcome-name-headline'"
                    class="tui-text_h3"
                >Schön dich kennen zu lernen {{ this.name }}.</h3>
                <p class="tui-text_body-m">Bei Polity kannst du in Echtzeit politische Entscheidungen weltweit
                                           verfolgen, beeinflussen und gestalten. Von Sendling bis Washington!</p>
                <p class="tui-text_body-m">Fülle dein Profil aus damit andere erkennen, dass du vertrauenswürdig
                                           bist.</p>

                <div class="tui-form__row">
                    <button
                        (click)="step2NavigateToProfilePage()"
                        [attr.data-cy]="'step2m-navigate-to-profile-page'"
                        appearance="primary"
                        class="tui-space_right-3 tui-space_bottom-3"
                        tuiButton
                        type="button"
                    >
                        Zeig mir mein Profil.
                    </button>
                    <button
                        (click)="step2CloseAndSkipTutorial()"
                        [attr.data-cy]="'step2-close-and-skip-tutorial'"
                        appearance="flat"
                        class="tui-space_right-3 tui-space_bottom-3"
                        tuiButton
                        type="button"
                    >
                        Skip Tutorial
                    </button>
                </div>
            </div>

            <div *tuiItem>
                <h3
                    [attr.data-cy]="'tutorial-search-headline'"
                    class="tui-text_h3"
                >Politische Informationen in Echtzeit.</h3>
                <p class="tui-text_body-m">Finde die Informationen, die du für deine politische Arbeit brauchst.</p>
                <p class="tui-text_body-m">Egal ob über Menschen, Themen, Veranstaltungen oder Organisationen.</p>

                <div class="tui-form__row">
                    <button
                        (click)="step3NavigateToSearchPage()"
                        [attr.data-cy]="'step3-navigate-to-search-page'"
                        appearance="primary"
                        class="tui-space_right-3 tui-space_bottom-3"
                        tuiButton
                        type="button"
                    >
                        Zeig mir die Suche.
                    </button>
                    <button
                        (click)="step3CloseAndSkipTutorial()"
                        [attr.data-cy]="'step3-close-and-skip-tutorial'"

                        appearance="flat"
                        class="tui-space_right-3 tui-space_bottom-3"
                        tuiButton
                        type="button"
                    >
                        Skip Tutorial
                    </button>
                </div>
            </div>
        </tui-carousel>
    </div>
</div>
