<div class="polity-space_bottom-15">
    <form
        (ngSubmit)="onEdit()"
        [formGroup]="editProfileForm"
    >
        <h3
            [attr.data-cy]="'edit-instruction'"
            [class.tui-skeleton]="isProfileLoading()"
            class="tui-form__header"
        >Ändere deine Profil Daten</h3>

        <div class="tui-form__row">
            <tui-input
                [attr.data-cy]="'firstName'"
                [class.tui-skeleton]="isProfileLoading()"
                [tuiTextfieldCleaner]="true"
                [tuiTextfieldCustomContent]="editProfileForm.controls.firstName.valid ? success : ''"
                formControlName="firstName"
                tuiHintContent="Bitte gebe deinen Klarnamen ein"
            >
                Gebe deinen Vornamen ein
            </tui-input>
            <tui-error
                [error]="[] | tuiFieldError | async"
                formControlName="firstName"
            >
            </tui-error>
        </div>
        <div class="tui-form__row">
            <tui-input
                [attr.data-cy]="'lastName'"
                [class.tui-skeleton]="isProfileLoading()"
                [tuiTextfieldCleaner]="true"
                [tuiTextfieldCustomContent]="editProfileForm.controls.lastName.valid ? success : ''"
                formControlName="lastName"
                tuiHintContent="Bitte gebe deinen Klarnamen ein"
            >
                Gebe deinen Nachnamen ein
            </tui-input>
            <tui-error
                [error]="[] | tuiFieldError | async"
                formControlName="lastName"
            >
            </tui-error>
        </div>
        <div class="tui-form__buttons">
            <button
                [attr.data-cy]="'update'"
                [class.tui-skeleton]="isProfileLoading()"
                [disabled]="!editProfileForm.valid"
                class="tui-form__button"
                size="l"
                tuiButton
                type="submit"
            >
                ÄNDERN
            </button>
        </div>
        <ng-template #success>
            <tui-svg
                class="polity-success tui-space_left-3"
                src="tuiIconCheck"
            ></tui-svg>
        </ng-template>
    </form>
</div>

<hr>

<div class="">
    <h3
        [class.tui-skeleton]="isProfileLoading()"
        class="tui-form__header"
    >Ändere deine Profil Bild</h3>
    <polity-profile-image-upload></polity-profile-image-upload>
</div>

<hr>

<div class="polity-space_bottom-15">
    <h3
        [class.tui-skeleton]="isProfileLoading()"
        class="tui-form__header"
    >Tutorial</h3>
    <polity-assistant-toggle></polity-assistant-toggle>
</div>

<div class="polity-space_bottom-15">
    <h3
        [class.tui-skeleton]="isProfileLoading()"
        class="tui-form__header"
    >Benachrichtigungen</h3>
    <polity-notfications-from-follow-toggle></polity-notfications-from-follow-toggle>
</div>

<hr>

<div class="">
    <h3
        [class.tui-skeleton]="isProfileLoading()"
        class="tui-form__header"
    >Email ändern</h3>
    <polity-update-email></polity-update-email>
</div>

<div class="">
    <h3
        [class.tui-skeleton]="isProfileLoading()"
        class="tui-form__header"
    >Passwort ändern</h3>
    <polity-update-password></polity-update-password>
</div>

<div class="polity-space_bottom-15 extra-margin">
    <h3
        [class.tui-skeleton]="isProfileLoading()"
        class="tui-form__header"
    >Logout</h3>
    <polity-sign-out></polity-sign-out>
</div>


