<div>
    <polity-filter-headline
        (showFilter)="toggleShowFilter()"
        [dataCyTag]="'edit-follower-and-followings'"
        [headline]="'Deine Follower & Followings'"
    ></polity-filter-headline>
    @if (showFilter) {
        <ng-container [formGroup]="combinedForm">
            <polity-filter-string
                placeholderText="Suche nach einem Vornamen"
                formGroupName="filterStringForm"
            >
            </polity-filter-string>
        </ng-container>
    }

    <polity-filter-clear (clearFilter)="clearFilter()">
    </polity-filter-clear>

</div>

<tui-tabs [(activeItemIndex)]="activeItemIndex">
    <button
        (click)="showFollowerList()"
        [attr.data-cy]="'show-follower'"
        tuiTab
    >
        Followers
    </button>
    <button
        (click)="showFollowingList()"
        [attr.data-cy]="'show-followings'"
        tuiTab
    >
        Following
    </button>
    <button
        (click)="showFollowingGroupList()"
        [attr.data-cy]="'show-following-groups'"
        tuiTab
    >
        Following Groups
    </button>
</tui-tabs>
@if (showFollowers) {
    <polity-table-three-icon-text-delete
        (remove)="removeFollower($event)"

        [bonusKeys]="['last_name_']"
        [dataCyTags]="['follower_profile_image', 'follower_first_name', 'follower_remove']"
        [dataCyTagsHeadline]="['follower_profile_image_headline', 'follower_first_name_headline',
        'follower_remove_headline']"
        [dataKeysForColumns]="['profile_image_', 'first_name_', 'id_']"
        [data]="followersOfUserStore.dataFiltered()"
        [headings]="['Foto', 'Name', 'Entfernen']"
        [isLoading]="followersOfUserStore.loadingState().loading"
    >
    </polity-table-three-icon-text-delete>
}

@if (showFollowings) {
    <polity-table-three-icon-text-delete
        (remove)="removeFollowing($event)"
        [bonusKeys]="['last_name_']"
        [dataCyTags]="['following_profile_image', 'following_first_name', 'following_remove']"
        [dataCyTagsHeadline]="['following_profile_image_headline', 'following_first_name_headline',
        'following_remove_headline']"
        [dataKeysForColumns]="['profile_image_', 'first_name_', 'id_']"
        [data]="followingsOfUserStore.dataFiltered()"
        [headings]="['Foto', 'Name', 'Entfernen']"
        [isLoading]="followingsOfUserStore.loadingState().loading"
    >
    </polity-table-three-icon-text-delete>
}

@if (showFollowingGroups) {
    <polity-table-three-icon-text-delete
        (remove)="removeFollowingGroup($event)"
        [bonusKeys]="['level_']"
        [dataCyTags]="['following_group_image', 'following_group_name', 'following_group_remove']"
        [dataCyTagsHeadline]="['following_group_image_headline', 'following_group_name_headline',
        'following_group_remove_headline']"
        [dataKeysForColumns]="['img_url_', 'name_', 'id_']"
        [data]="followingsOfUserGroupStore.dataFiltered()"
        [headings]="['Foto', 'Name', 'Entfernen']"
        [isLoading]="followingsOfUserGroupStore.loadingState().loading"
    >
    </polity-table-three-icon-text-delete>
}
