<h1 class="tui-text_h1">Login</h1>
<p class="tui-text_body-l">Login in deinen neuen Account.</p>
<form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
>
    <div class="tui-form__row">
        <tui-input
                formControlName="email"
                tuiHintContent="It will be used for sending documents"
                [tuiTextfieldCleaner]="true"
                [tuiTextfieldCustomContent]="loginForm.controls.email.valid ? success : ''"
        >
            Type an email
        </tui-input>
        <ng-template #success>
            <tui-svg
                    src="tuiIconCheck"
                    class="success tui-space_left-3"
            ></tui-svg>
        </ng-template>
        <tui-error
            formControlName="email"
            [error]="[] | tuiFieldError | async"
        >
        </tui-error>
    </div>
    <div class="tui-form__row">
        <tui-input-password
                formControlName="password"
                [tuiTextfieldCleaner]="true"
                [tuiTextfieldCustomContent]="loginForm.controls.password.valid ? success : ''"
        >
            Gebe ein Password ein.
        </tui-input-password>
        <ng-template #success>
            <tui-svg
                    src="tuiIconCheck"
                    class="success tui-space_left-3"
            ></tui-svg>
        </ng-template>
        <tui-error
                formControlName="password"
                [error]="[] | tuiFieldError | async"
        >
        </tui-error>
    </div>
    <div class="tui-form__buttons">
        <button
            size="l"
            tuiButton
            type="submit"
            class="tui-form__button"
            [disabled]="!loginForm.valid"
        >
            ERSTELLEN
        </button>
<!--        <button-->
<!--            appearance="flat"-->
<!--            size="l"-->
<!--            tuiButton-->
<!--            type="button"-->
<!--            class="tui-form__button"-->
<!--        >-->
<!--            ABBRECHEN-->
<!--        </button>-->
    </div>
</form>
