<polity-stepper-top
    [activeIndex]="0"
    [activeItem]="menuItems[0].title"
    [steps]="menuItems"
></polity-stepper-top>
<h1 class="tui-text_h1">Create a new group</h1>

<form
    (ngSubmit)="onCreateGroup()"
    [formGroup]="createGroupForm"
>
    <h2 class="tui-text_h2"
        id="Name">
        Name
    </h2>
    <div class="tui-form__row">
        <tui-input
            [attr.data-cy]="'groupNameInput'"
            [class.tui-skeleton]="false"
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldCustomContent]="createGroupForm.controls.name.valid ? success : ''"
            formControlName="name"
            tuiHintContent="Bitte einen noch nicht verwendeten Gruppennamen eingeben.">
            Gebe den Namen deiner Gruppe ein.
        </tui-input>
        <tui-error
            [error]="[] | tuiFieldError | async"
            formControlName="name">
        </tui-error>
    </div>

    <div id="Level">
        <h2 class="tui-text_h2">
            Level
        </h2>
    </div>
    <div
        [collapsed]="true"
        class="group"
        tuiGroup
    >
        <tui-radio-block
            [attr.data-cy]="'levelLocal'"
            contentAlign="right"
            formControlName="level"
            item="local"
            size="l"
        >
            <div class="inner">
                Local
                <div class="text">
                    Eine Gruppe auf einem lokalen Level. Das nächst höhere Level ist regional.
                </div>
            </div>
        </tui-radio-block>
        <tui-radio-block
            [attr.data-cy]="'levelRegional'"
            contentAlign="right"
            formControlName="level"
            item="regional"
            size="l"
        >
            <div class="inner">
                Regional
                <div class="text">
                    Eine Gruppe auf einem regionalen Level. Es ist das Bindeglied zwischen lokal und federal.
                </div>
            </div>
        </tui-radio-block>
        <tui-radio-block
            [attr.data-cy]="'levelNational'"
            contentAlign="right"
            formControlName="level"
            item="national"
            size="l"
        >
            <div class="inner">
                National
                <div class="text">
                    Eine Gruppe auf einem nationalem Level. Dies ist das höchste Level.
                </div>
            </div>
        </tui-radio-block>
    </div>

    <h2 class="tui-text_h2"
        id="Description">
        Description
    </h2>
    <div class="tui-form__row">
        <tui-input
            [attr.data-cy]="'groupDescriptionInput'"
            [class.tui-skeleton]="false"
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldCustomContent]="createGroupForm.controls.description.valid ? success : ''"
            formControlName="description"
            tuiHintContent="Bitte ein Beschreibung deiner Gruppe eingeben.">
            Gebe eine Beschreibung deiner Gruppe eingeben.
        </tui-input>
        <tui-error
            [error]="[] | tuiFieldError | async"
            formControlName="description">
        </tui-error>
    </div>

    <div id="Member">
        <h2 class="tui-text_h2">
            Member
        </h2>
    </div>

    <polity-search-profiles-bar
        (onUpdateSelectedUsers)="onSelectedUserUpdate($event)"
    ></polity-search-profiles-bar>

    <div id="Inaugural-Meeting">
        <h2 class="tui-text_h2">
            Inaugural-Meeting
        </h2>
    </div>

    <div class="tui-form__buttons">
        <button
            [attr.data-cy]="'createGroupButton'"
            [class.tui-skeleton]="false"
            [disabled]="!createGroupForm.valid"
            class="tui-form__button"
            size="l"
            tuiButton
            type="submit"
        >ERSTELLEN
        </button>
    </div>

    <ng-template #success>
        <tui-svg
            class="polity-success tui-space_left-3"
            src="tuiIconCheck"
        ></tui-svg>
    </ng-template>
</form>

<polity-stepper-right
    [activeIndex]="0"
    [activeItem]="menuItems[0].title"
    [steps]="menuItems"
></polity-stepper-right>

