<table
    [class.tui-skeleton]="isLoading()"
    [columns]="transformColumnsForTui()"
    class="tui-table"
    tuiTable
>
    <thead>
    <tr
        class="tui-table__tr"
        tuiThGroup>
        <th
            *tuiHead="transformColumnForTui(0)"
            [attr.data-cy]="dataCyTagsHeadline[0]"
            [sorter]="null"
            class="tui-table__th tui-table__th_first"
            tuiTh>{{ headings[0] }}
        </th>
        <th
            *tuiHead="transformColumnForTui(1)"
            [attr.data-cy]="dataCyTagsHeadline[1]"
            class="tui-table__th"
            tuiTh>{{ headings[1] }}
        </th>
        <th
            *tuiHead="transformColumnForTui(2)"
            [attr.data-cy]="dataCyTagsHeadline[2]"
            class="tui-table__th"
            tuiTh>{{ headings[2] }}
        </th>
        <th
            *tuiHead="transformColumnForTui(3)"
            [attr.data-cy]="dataCyTagsHeadline[3]"
            class="tui-table__th tui-table__th_last"
            tuiTh>{{ headings[3] }}
        </th>
    </tr>
    </thead>
    <tbody
        *tuiLet="transformDataForTui() | tuiTableSort as sortedData"
        [data]="sortedData"
        tuiTbody>
        @for (item of sortedData;track item) {
            <tr
                class="tui-table__tr tui-table__tr_border_none"
                tuiTr
            >
                <td
                    *tuiCell="transformColumnForTui(0)"
                    class="tui-table__td tui-table__td_first"
                    tuiTd
                >
                    <tui-avatar
                        [attr.data-cy]="dataCyTags[0]"
                        [autoColor]="true"
                        avatarUrl="{{getTableValueKey(item, dataKeysForColumns[0])}}"
                        size="s"
                        text="{{getTableValueKey(item, dataKeysForColumns[1])}} {{getTableValueKey(item, bonusKeys[0])}}"
                    ></tui-avatar>
                </td>
                <td
                    *tuiCell="transformColumnForTui(1)"
                    [attr.data-cy]="dataCyTags[1]"
                    class="tui-table__td polity-table-column-max-width"
                    tuiTd
                >
                    {{ getTableValueKey(item, dataKeysForColumns[1]) }} {{ getTableValueKey(item, bonusKeys[0]) }}
                </td>
                <td
                    *tuiCell="transformColumnForTui(2)"
                    class="tui-table__td"
                    tuiTd
                >
                    @if (getTableValueKey(item, dataKeysForColumns[2]) === 'follow_from_user') {
                        <tui-tag
                            [attr.data-cy]="dataCyTags[2]"
                            [class.follow_from_user]="getTableValueKey(item, dataKeysForColumns[2])  === 'follow_from_user'"
                            [value]="'Follow'"
                            status="custom"
                        ></tui-tag>
                    }

                </td>
                <td
                    *tuiCell="transformColumnForTui(3)"
                    [attr.data-cy]="dataCyTags[3]"
                    class="tui-table__td tui-table__td_last"
                    tuiTd
                >
                    {{ getTableValueKey(item, dataKeysForColumns[3])  | date:'dd/MM/yy, hh:mm' }} Uhr
                </td>
            </tr>
        }
    </tbody>
</table>
