<div class="polity-center min-height">
    <polity-wiki-headline
        [firstName]="profileStore.data().first_name_"
        [isLoading]="signal(profileStore.loadingState().loading)"
        [lastName]="profileStore.data().last_name_"
    ></polity-wiki-headline>

    <div
        class=" polity-flex-container polity-single-item-centered tui-space_right-4 tui-space_left-4"
    >
        <polity-counter
            [counterTitle]="'Follower'"
            [counterValue]="profileCounterStore.data().follower_counter_"
            [dataCyTag]="'followerCounter'"
            [isLoading]="signal(profileCounterStore.loadingState().loading)"
            class="polity-flex-item-first"
        ></polity-counter>
        <polity-counter
            [counterTitle]="'Following'"
            [counterValue]="profileCounterStore.data().following_counter_"
            [dataCyTag]="'followingCounter'"
            [isLoading]="signal(profileCounterStore.loadingState().loading)"
            class="polity-flex-item-last"
        ></polity-counter>
        <polity-counter
            [counterTitle]="'Memberships'"
            [counterValue]="profileCounterStore.data().group_membership_counter_"
            [dataCyTag]="'membershipCounter'"
            [isLoading]="signal(profileCounterStore.loadingState().loading)"
            class="polity-flex-item-last"
        ></polity-counter>
    </div>

    <div class="tui-space_bottom-4">
        <polity-follow-button
            (toggledFollowing)="toggleFollow($event)"
            [isFollowing]="profileFollowStore.data()"
            [isLoading]="signal(profileFollowStore.loadingState().loading)"
            [isOwner]="profileStore.isOwner()"
        ></polity-follow-button>
    </div>

    <polity-wiki-image
        [isLoading]="signal(profileStore.loadingState().loading)"
        [src]="profileStore.data().profile_image_"
    ></polity-wiki-image>
</div>
