<tui-root>
    <div class="polity-container">
        @if (showErrorMessage()) {
            <tui-notification
                (close)="onClose()"
                [icon]=""
                class="tui-space_bottom-3"
                status="error"
            >
                {{ notification() }} {{ showErrorMessage() }}
            </tui-notification>
        }
        <router-outlet></router-outlet>
        <!--        <button (click)="subscribeToNotifications()">Subscribe</button>-->
    </div>
</tui-root>
