<div>
    <polity-filter-headline
        (showFilter)="toggleShowFilter()"
        [dataCyTag]="'edit-group-memberships-and-group-requests'"
        [headline]="'Deine Mitgliedschaften & Mitgliedsanfragen'"
    ></polity-filter-headline>
    @if (showFilter) {
        <ng-container [formGroup]="combinedForm">
            <polity-filter-string
                placeholderText="Suche nach einer Gruppe"
                formGroupName="filterStringForm"
            >
            </polity-filter-string>
        </ng-container>
    }

    <polity-filter-clear (clearFilter)="clearFilter()">
    </polity-filter-clear>

</div>

<tui-tabs [(activeItemIndex)]="activeItemIndex">
    <button
        (click)="showGroupMembershipList()"
        [attr.data-cy]="'show-group-memberships'"
        tuiTab
    >
        Mitgliedschaften
    </button>
    <button
        (click)="showGroupRequestList()"
        [attr.data-cy]="'show-group-requests'"
        tuiTab
    >
        Mitgliedsanfragen
    </button>
    <button
        (click)="showGroupInvitationList()"
        [attr.data-cy]="'show-group-invitations'"
        tuiTab
    >
        Gruppeneinladungen
    </button>
</tui-tabs>
@if (showGroupMemberships) {
    <polity-table-three-icon-text-delete
        (remove)="leaveGroup($event)"
        [bonusKeys]="['group_level_']"
        [dataCyTags]="['group_profile_image', 'group_name', 'group_leave']"
        [dataCyTagsHeadline]="['group_membership_image_headline', 'group_membership_name_headline',
        'group_membership_leave_headline']"
        [dataKeysForColumns]="['group_name_', 'group_name_', 'id_']"
        [data]="membershipsOfUserStore.dataFiltered()"
        [headings]="['Foto', 'Name', 'Verlassen']"
        [isLoading]="membershipsOfUserStore.loadingState().loading"
    >
    </polity-table-three-icon-text-delete>
}

@if (showGroupRequests) {
    <polity-table-three-icon-text-delete
        (remove)="withdrawGroupRequest($event)"
        [bonusKeys]="['group_level_']"
        [dataCyTags]="['group_request_image', 'group_request_name', 'group_request_withdraw']"
        [dataCyTagsHeadline]="['group_request_image_headline', 'group_request_name_headline',
        'group_request_withdraw_headline']"
        [dataKeysForColumns]="['group_name_', 'group_name_', 'id_']"
        [data]="requestsOfUserStore.dataFiltered()"
        [headings]="['Foto', 'Name', 'Entfernen']"
        [isLoading]="requestsOfUserStore.loadingState().loading"
    >
    </polity-table-three-icon-text-delete>
}
@if (showGroupInvitations) {
    <polity-table-three-icon-text-two-actions
        (firstAction)="acceptGroupInvitation($event)"
        (secondAction)="removeGroupInvitation($event)"
        [bonusKeys]="['group_level_']"
        [dataCyTags]="['group_invitation_image', 'group_invitation_name', 'group_invitation_accept']"
        [dataCyTagsHeadline]="['group_invitation_image_headline', 'group_invitation_name_headline',
        'group_invitation_accept_headline']"
        [dataKeysForColumns]="['group_name_', 'group_name_', 'id_']"
        [data]="invitationsOfUserStore.dataFiltered()"
        [headings]="['Foto', 'Name', 'Entscheiden']"
        [isLoading]="invitationsOfUserStore.loadingState().loading"
        [firstActionIcon]="'tuiIconCheck'"
        [secondActionIcon]="'tuiIconX'"
        [firstActionText]="'Accept'"
        [secondActionText]="'Decline'"
        [secondActionDataCyTag]="'group_invitation_decline'"

    >
    </polity-table-three-icon-text-two-actions>
}
