<form
    [formGroup]="searchUserForm"
>
    <tui-combo-box
        (searchChange)="onSearchChange($event)"
        [attr.data-cy]="'searchProfileBar'"
        [stringify]="stringify"
        [tuiTextfieldLabelOutside]="true"
        formControlName="members"
    >
        Lade ein neues Mitglied ein.
        <tui-data-list-wrapper
            *tuiDataList
            [attr.data-cy]="'searchProfileBarResults'"
            [itemContent]="stringify | tuiStringifyContent"
            [items]="searchUserStore.data() | tuiFilterByInputWith: stringify"
        ></tui-data-list-wrapper>
    </tui-combo-box>

    <polity-table-three-icon-text-delete
        (remove)="onRemove($event)"
        [bonusKeys]="['last_name_']"
        [dataCyTagsHeadline]="['user_image_title', 'user_first_name_title', 'remove_invitation_title']"
        [dataCyTags]="['user_image', 'user_first_name', 'follower_remove']"
        [dataKeysForColumns]="['last_name_', 'first_name_', 'id_']"
        [data]="selectedUsers"
        [headings]="['Foto', 'Name', 'Entfernen']"
        [isLoading]="signal(false)"
    >
    </polity-table-three-icon-text-delete>
</form>
