<div class="polity-space_bottom-15">
    <polity-group-edit-form
        (newGroupData)="onEdit($event)"
        [group]="groupStore.data()"
        [loadingState]="groupStore.loadingState()"
    ></polity-group-edit-form>
</div>

<hr>

<div class="">
    <h3
        [class.tui-skeleton]="groupStore.loadingState().loading"
        class="tui-form__header"
    >Ändere deine Profil Bild</h3>
    <polity-image-upload
        (imgStoragePath)="onUpdateGroupImage($event)"
        [bucketName]="'group_images'"
        [imgSrc]="groupStore.data().img_url_"
        [loadingState]="groupStore.loadingState()"
    ></polity-image-upload>
</div>

<hr>
