<tui-island class="danger-zone">
    <form
        (ngSubmit)="onUpdatePassword()"
        [formGroup]="updatePasswordForm"
    >
        <h3 class="tui-island__title">Passwort neu vergeben</h3>
        <p class="tui-island__paragraph">
            Vergebe dein Passwort neu. Dein neues Passwort wird beim nächsten Login benötigt.
        </p>
        <div class="tui-space_top-3">
            <tui-input-password
                [attr.data-cy]="'password'"
                [tuiTextfieldCleaner]="true"
                [tuiTextfieldCustomContent]="updatePasswordForm.controls.password.valid ? success : ''"
                formControlName="password"
            >
                Gebe ein Password ein.
            </tui-input-password>
            <ng-template #success>
                <tui-svg
                    class="polity-success tui-space_left-3"
                    src="tuiIconCheck"
                ></tui-svg>
            </ng-template>
            <tui-error
                [error]="[] | tuiFieldError | async"
                formControlName="password"
            >
            </tui-error>
        </div>
        <div class="tui-space_top-3">
            <button
                [attr.data-cy]="'sign-in'"
                [disabled]="!updatePasswordForm.valid"
                class="tui-form__button"
                size="l"
                tuiButton
                type="submit"
            >
                PASSWORT ÄNDERN
            </button>
        </div>
    </form>
</tui-island>
