<form
    [formGroup]="searchForm"
>
    <div class="tui-form__row">
        <tui-input
            (focusin)="focused()"
            [attr.data-cy]="'search'"
            formControlName="search"
            tuiHintContent="Bitte einen Suchterm eingeben"
        >
            Gebe einen Suchterm ein
        </tui-input>
        <tui-error
            [error]="[] | tuiFieldError | async"
            formControlName="search"
        >
        </tui-error>
    </div>
</form>
@if (searchUserResults() || loading()) {
    <div class="grid tui-space_top-4">
        @for (profile of searchUserResults();track profile) {
            <div
                [attr.data-cy]="'user-search-results'"
                class="grid-item tui-space_top-4"
            >
                <polity-search-profile-result
                    [isLoading]="this.loading"
                    [profile]="profile"
                ></polity-search-profile-result>
            </div>
        }
    </div>
}
@if (searchGroupResults() || loading()) {
    <div class="grid tui-space_top-4">
        @for (group of searchGroupResults();track group) {
            <div
                [attr.data-cy]="'group-search-results'"
                class="grid-item tui-space_top-4"
            >
                <polity-search-group-result
                    [isLoading]="this.loading"
                    [group]="group"
                ></polity-search-group-result>
            </div>
        }
    </div>
}
<div class="center-grid">
    @if (!searchUserResults()) {
        <p
            [attr.data-cy]="'search-instruction'"
        >
            Suche etwas.
        </p>
    }
</div>
