<div class="polity-center min-height">
    <polity-wiki-headline
        [firstName]="this.groupStore.data().name_"
        [isLoading]="signal(this.groupStore.loadingState().loading)"
    ></polity-wiki-headline>

    <div
        class=" polity-flex-container polity-single-item-centered tui-space_right-4 tui-space_left-4"
    >
        <polity-counter
            [counterTitle]="'Member'"
            [counterValue]="this.groupCounterStore.data().group_member_counter_"
            [dataCyTag]="'memberCounter'"
            [isLoading]="isGroupMembershipStatusLoading"
            class="polity-flex-item-first"
        ></polity-counter>
        <polity-counter
            [counterTitle]="'Follower'"
            [counterValue]="this.groupCounterStore.data().follower_counter_"
            [dataCyTag]="'followerCounter'"
            [isLoading]="isGroupMembershipStatusLoading"
            class="polity-flex-item-first"
        ></polity-counter>
    </div>

    <p>{{this.groupStore.loadingState().loading}}</p>

    <div class="tui-space_bottom-4">
        <polity-follow-button
            (toggledFollowing)="toggleFollow($event)"
            [isFollowing]="this.groupFollowStore.data()"
            [loadingState]="this.groupFollowStore.loadingState"
            [isLoading]="signal(this.groupFollowStore.loadingState().loading)"
        ></polity-follow-button>
    </div>

    <div class="tui-space_bottom-4">
        <polity-request-button
            (toggledFollowing)="toggleMembership($event)"
            [isLoading]="signal(false)"
            [isRequested]="isMember()"
            [requestTitleString]="buttonTextString"
            [toggledTitle]="'REQUEST MEMBERSHIP'"
        ></polity-request-button>
    </div>
</div>
